@model X.PagedList.IPagedList<MyAuto.Entity.BlogArticle>
@using X.PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Message.</h2>
<h2>@ViewBag.Hellotime</h2>

<div class="container">
    <table class="table">
        <tr>
            <th>
                题目
            </th>
            <th>
                关键词
            </th>
            <th>
                作者
            </th>
            <th>
                创建时间
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.RouteUrl("Article", new { pageindexa = item.BlogID })" target="_blank">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keywords)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlogCreateTime)
                </td>
            </tr>
        }
    </table>
</div>
<div>
    每页 @Model.PageSize 条记录，共 @Model.TotalItemCount 条，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
    @Html.PagedListPager(Model, page => Url.RouteUrl("Blog", new { pageindexa = page }))
</div>


